<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/myhibernatedb
   </property>
   <property name="hibernate.connection.username">
      hibernateuser
   </property>
   <property name="hibernate.connection.password">
      o1EJPAVw4jJw
   </property>
<mapping class="com.hibernate.tutorial.mainclass.Hibernate5InsertTest"/>
<mapping class="com.hibernate.tutorial.entity.Employee"/>

</session-factory>
</hibernate-configuration>